{% extends "intro/layout.html"%}

{% block body %}
{% load static %}
    <title>Anukool Raj</title>
    <style>
        .box{
            padding-top: 10%;
            text-align: center;
        }
        .head1{
            line-height: 1.2px;
        }
        .image{
            border-radius: 50%;
            width: 150px;
        }
        .pinned-article-tile{
            font-size: 1.25em;
            display: inline-block;
            width: 9.375em;
            height: 7.5em;
            text-align: center;
            vertical-align: top;
            transition: 0.4s;
            margin: 20px;
            padding: 20px;
            border: 1px black;
            border-style: dotted;
        }
        .pinned{
            text-decoration: none;
        }
        .pinned:hover{
            opacity: 70%;
            text-decoration: underline;
        }
    </style>
    <div class="box">
        <img class ="image" src="{% static 'images/anukool.jpg' %}">
        <h3 class="head1"> ANUKOOL RAJ </h3>
        <p class="head4">INVESTOR | ANALYST | DEVELOPER</p>
        <p class="head4">Most of the times I read. Once in a while I write. I use this platform to share my thoughts and impressions on a wide array of topics. Explore the catalogue here. If you find anything interesting, feel free to reach out to me anytime.
        </p>
        <br>
        <br>
        <hr>
        <div class="pinned-article-container">
            <h3 class="head4">PINNED POSTS</h3>
            {% for article in Article %}
                <div class="pinned-article-tile">
                    <a class="pinned" style="color:black" href="{% url 'readarticle' article.article_no %}">{{article.title}}</a>
                    <br>
                    <p class="date">{{article.date|date:"M,Y"}}</p>
                </div>
            {% endfor %}
            <br>
            <br>
        </div>
    </div>
{% endblock %}
