{% extends "intro/layout.html"%}

{% block body %}
<title>Anukool Raj | Articles</title>
    <style>
        .head1{
            font-size: 2.8125em;
            word-wrap: break-word;
        }
        #share-plugins{
            vertical-align: top;
        }
        .fb-share-button{
            vertical-align: top;
            display: inline-block;
        }
        .in-share{
            display: inline-block;
        }
        #ads{
            width: auto;
            position: absolute;
            right: 7.5%;
            top: 100%;
            align: center;
        }

    </style>
    <div class="box">
        <br>
        <div class="head1">
            <h3>{{article.title}}</h3>
        </div>
        <p class="date">{{article.date}}</p>
        
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <div id="share-plugins">
            <!-- Your share button code -->
            <div class="fb-share-button" 
            data-href="{% url 'readarticle' article.article_no %}" 
            data-layout="button">
            </div>
            <!--LinkedIn share plugin-->
            <div class="in-share">
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share"></script>
            </div>
            <!--Twitter share button-->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <hr>
        <br>
        <div id="ads">
            <iframe style="width:120px;height:240px;padding:10px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=anukoolraj11-21&marketplace=amazon&amp;region=IN&placement=9390166268&asins=9390166268&linkId=848cafa88a4747237723c043e8538202&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
            </iframe>
            <br>
            <iframe style="width:120px;height:240px;padding:10px" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=anukoolraj11-21&marketplace=amazon&amp;region=IN&placement=0008274983&asins=0008274983&linkId=b8d9f7b05b5c5f1c785fc8dc37db88b3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
            </iframe>
        </div>
        <div class="description">
            {{article.articletext|safe}}
        </div>
        <br>
        <hr>
        <br>
    </div>
    <br>
    <br>
{% endblock %}
